<h1 class="text-center">SERVICIO DEL CLIMA</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 card" style="min-height:300px;">
        <div>
            <h2 class="text-center">Seleccione la zona</h2>
            <hr />
            <label control-label">Pais</label>
            <div class="input-group" style="width:100%">
                <select class="form-control input-sm">Seleccione un pais</select>
            </div>

            <label class="control-label">Ciudad</label>
            <div class="input-group" style="width:100%">
                <select class="form-control input-sm">Seleccione una ciudad</select>
            </div>

        </div>
    </div>
    <div class="col-md-5 card" style="min-height:300px;">
        <h2 class="text-center">Reporte</h2>
        <hr />
        <div class="col-md-6">
            <h2>VIERNES</h2>
            <p>Soleado</p>
            <h2>23 ºC</h2>
            <p>71 ºF</p>
        </div>
        <div class="col-md-6">
            <p>Imagen</p>
        </div>
    </div>

    </div>
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 card">
        <h2>DIA</h2>
        <p>Imagen</p>
        <p>23 ºC</p>
        <p>58 ºF</p>
    </div>
    <div class="col-md-2 card">
        <h2>DIA</h2>
        <p>Imagen</p>
        <p>23 ºC</p>
        <p>58 ºF</p>
    </div>
    <div class="col-md-2 card">
        <h2>DIA</h2>
        <p>Imagen</p>
        <p>23 ºC</p>
        <p>58 ºF</p>
    </div>
    <div class="col-md-2 card">
        <h2>DIA</h2>
        <p>Imagen</p>
        <p>23 ºC</p>
        <p>58 ºF</p>
    </div>
    <div class="col-md-2 card">
        <h2>DIA</h2>
        <p>Imagen</p>
        <p>23 ºC</p>
        <p>58 ºF</p>
    </div>
</div>


<style>
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
        border: solid 1px;
        margin: 5px;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }
</style>